@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@use "bulma.scss";
@use "sass:color";

$body-text-font-stack: "Iosevka Lux Termina Web", "IBM Plex Serif", "Noto Serif", serif;
$heading-font-stack: "Iosevka Lux Termina Web", "Aleo", "Noto Sans", sans-serif;
$monospace-font-stack: /*"Iosevka Lux Termina Web",*/ "IBM Plex Mono", monospace;

html, body {
    font-family: $body-text-font-stack;
    font-size: 13pt;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    html, body {
        font-size: 10pt;
    }
}

@media (prefers-color-scheme: light) {
    html, body {
        background-color: #eee;
    }
    
    h1, h2, h3, h4, h5, h6, .title {
        color: black;
    }

    .content {
        background-color: white;
    }

    code {
        color: scale-color(#86D3AE, $lightness: -40%);
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: black;
    }

    h1, h2, h3, h4, h5, h6, .title, p, li {
        font-weight: 200;
        color: white !important;
    }

    .footer, .box, .content blockquote {
        background-color: #0e0e0e;
    }

    .content blockquote {
        background-color: #0e0e0e;
        border-left: 5px solid #161616;
    }

    strong {
        color: white !important;
    }

    .content {
        background-color: #111;
    }
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    
    img:hover {
        opacity: 1;
    }

    a {
        color: scale-color(aqua, $lightness: 30%);
        font-weight: 300;
    }

    a:hover {
        color: scale-color(aqua, $lightness: -30%);
    }

    code {
        color: #86D3AE;
    }
}


code, pre {
    font-family: $monospace-font-stack;
}

code {
    background-color: rgba(#fff, 0);
    padding: 0;
}

nav {
    background-color: beige;
    ul {
        width: 100%;
        margin: 0 auto;
        li {
            text-align: center;
        }
    }
}

main {
    width: 95%;
}

@media screen and (min-width: 768px) {
    main {
        width: 35rem;
        margin-left: 150px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-stack;
    font-size: 2em;
    font-weight: bold;
}

p {
    width: 100%;
    line-height: 1.2;
    white-space: normal;
    text-align: justify;
}

.homepage.title {
    font-size: 2em;
}

ul.pages {
    list-style-type: none;
}

.brand-font {
    font-family: $heading-font-stack;
    font-weight: bold;
}

.content {
    padding: 2em;
}

.margin-note {
    display: inline;
    float: right;
    position: relative;
    width: 20vw;
    margin-right: -24vw;
    margin-top: 3pt;
    font-size: 10pt;
    z-index: 5;

    text-align: left;
}

@media (max-width: 1024px) {
    .margin-note {
        display: block;
        float: left;
        clear: both;
        position: relative;
        margin: 1rem 2.5%;
        width: 95%;
        font-size: 11pt;
        line-height: 1.2;
    }
}

@media (max-width: 768px) {
    .margin-note {
        display: block;
        float: left;
        clear: both;
        position: relative;
        margin: 1rem 2.5%;
        width: 95%;
        font-size: 9pt;
        line-height: 1.2;
    }
}


img {
    transition: transform 0.1s, opacity 0.15s;
}

img:hover {
    transform: scale(1.5);
}

.hyperlink {
    font-size: 1rem;
    vertical-align: 15%;
}

.hyperlink::before {
    content: " "
}