{% extends "index.html" %}

{% block content %}
<article class="content">
<h1 class="title">{{ taxonomy.name }}</h1>
<ul class="">
{% for term in terms %}
    <li class="">
    <h3 class="title"><a href="{{ term.permalink | safe }}">{{ term.name }}</a></h3>
    </li>
{% endfor %}
</ul>
</article>
{% endblock content %}