
@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-thin.woff2') format('woff2'), url('ttf/iosevka-lux-termina-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedthin.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedthin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-thinoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-thinoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedthinoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedthinoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedthinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-thinitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedthinitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedthinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extralight.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedextralight.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extralightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-extralightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedextralightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedextralightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extralightitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedextralightitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-light.woff2') format('woff2'), url('ttf/iosevka-lux-termina-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedlight.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedlight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-lightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-lightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedlightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedlightoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedlightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-lightitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedlightitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedlightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-regular.woff2') format('woff2'), url('ttf/iosevka-lux-termina-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extended.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-oblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-oblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-italic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendeditalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendeditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-medium.woff2') format('woff2'), url('ttf/iosevka-lux-termina-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedmedium.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-mediumoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-mediumoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedmediumoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedmediumoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-mediumitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedmediumitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedmediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-semibold.woff2') format('woff2'), url('ttf/iosevka-lux-termina-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedsemibold.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedsemibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-semiboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-semiboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedsemiboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedsemiboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-semibolditalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedsemibolditalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedsemibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-bold.woff2') format('woff2'), url('ttf/iosevka-lux-termina-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedbold.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedbold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-boldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-boldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-bolditalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedbolditalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedbolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extrabold.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedextrabold.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extraboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-extraboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedextraboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedextraboldoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extrabolditalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedextrabolditalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedextrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-heavy.woff2') format('woff2'), url('ttf/iosevka-lux-termina-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-lux-termina-extendedheavy.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedheavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-heavyoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('woff2/iosevka-lux-termina-heavyoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/iosevka-lux-termina-extendedheavyoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('woff2/iosevka-lux-termina-extendedheavyoblique.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-heavyitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-heavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Lux Termina Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-lux-termina-extendedheavyitalic.woff2') format('woff2'), url('ttf/iosevka-lux-termina-extendedheavyitalic.ttf') format('truetype');
}
