{% extends "index.html" %}

{% block content %}
<article class="content">
<h1 class="title">{{ taxonomy.name }} &mdash; {{ term.name }}</h1>
<ul class="">
{% for page in term.pages %}
    <li class="box">
    <h3 class="title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
    <h5 class="subtitle">{{ page.reading_time }} {% if page.reading_time == 1 %} minute{% else %} minutes{% endif %}, {{ page.word_count }} words</h5>
    <p>{{ page.content | striptags | truncate(length=200) | safe }}</p>
</li>
{% endfor %}
</ul>
</article>
{% endblock content %}