<sup id="roh-reference-{{nth}}"><a href="#roh-margin-note-{{nth}}">{{ nth }}</a></sup><span class="margin-note" data-count="{{nth}}">
    <sup id="roh-margin-note-{{nth}}"><a href="#roh-reference-{{nth}}">{{ nth }}</a></sup>{{ body -}}
</span>{#-
    The CSS does not work when I replace span as aside, even thought I made it as inline?
    Apparently, <p> does not like it when I put block elements inside, even thought I made
    it as inline.
    
    Also see that weird comment placement? Zola keeps adding a whitespace after that and I
    don't know why!
 -#}