{% extends "index.html" %}
{% block content %}
<article class="content">
<h1>there is only the void here.</h1>
<p>This is the wrong place. I think you should <a href="javascript:history.back()">go back</a>.</p>
</article>
{% endblock content %}