<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% if page.content %}{{ page.content | safe | striptags | truncate }}{% else %}{{ config.description }}{% endif %}">
    <meta name="author" content="@harudagondi">

    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ config.title }}</title>
    <meta name="title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}">
 

    <meta property="og:title" content="{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ config.title }}">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:image" content='{{ get_url(path="images/twitter_card.png") }}'>
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% if page %}{{ page.permalink }}{% elif section %}{{ section.permalink }}{% else %}{{ config.base_url }}{% endif %}">
    <meta property="og:site_name" content="{{ config.title }}">

    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ config.title }}">
    <meta name="twitter:description" content="{% if page.content %}{{page.content | striptags | truncate(length=120) | safe}}{% else %}{{ config.title }}{% endif %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content='{{ get_url(path="images/twitter_card.png") }}'>
    <meta name="twitter:site" content="@harudagondi">
    <meta name="twitter:creator" content="@harudagondi">

  <link rel="icon" type="image/png" href='{{ get_url(path="images/favicon-32x32.png") }}' sizes="32x32">

    {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href='{{ get_url(path="rss.xml", trailing_slash=false) }}'>
        <link rel="alternate" type="application/atom+xml" title="RSS" href='{{ get_url(path="atom.xml", trailing_slash=false) }}'>
    {% endif %}

  <link rel="stylesheet" href='{{ get_url(path="bulma.css") }}'>
  <link rel="stylesheet" href='{{ get_url(path="fonts/iosevka-lux-termina.css") }}'>
  <link rel="stylesheet" href='{{ get_url(path="style.css") }}'>

  <script defer src="https://cdn.jsdelivr.net/npm/umbrellajs@3.2.3/umbrella.min.js"></script>

  <script defer src='{{ get_url(path="js/main.js") }}'></script>

  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href='{{ get_url(path="rss.xml", trailing_slash=false) }}'>
  {% endblock %}

  {% block head %}{% endblock head %}
</head>
<body>
    <header>
        <nav class="navbar is-black is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <a class="navbar-item brand-font" href="/">
          ramblings of @harudagondi
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
        </div>
        

          <div class="navbar-menu">
          <div class="navbar-start">
          <a class="navbar-item" href="/blog/">blog</a>
          <a class="navbar-item" href="/literature/">literature</a>
          <a class="navbar-item" href="/info/">info</a>
          </div>
          <div class="navbar-end">
          <a class="navbar-item" href="javascript:history.back()">back</a>
          </div>
          </div>
        </nav>
    </header>
    <main class="section">
     {% block content %}
      <article class="content">
        <h1 class="homepage title">ramblings of @harudagondi</h1>
        <noscript>
        <div class="notification is-danger is-light content">
        <button class="delete"></button>
        <p>This website uses Javascript!</p>
        </div>
        <hr>
        </noscript>
        <p>Hi, I'm @harudagondi.</p>
        <p>You can support me thru ko-fi.</p>
        <p>Expect this website to go under massive changes. Thank you!</p>
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#000000', 'D1D11H8FF');kofiwidget2.draw();</script> 
      </article>
      {% endblock content %}
    </main>
    <div style="flex-grow: 1"></div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>ramblings by @harudagondi</strong> is written by Gio Genre De Asis. The source is licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text">The website content is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" /></a></p>
        </p>
      </div>
    </footer>
</body>
</html>