{% extends "index.html" %}
{% block content %}
<article class="content card-content">
<h1 class="title">{{ page.title }}</h1>
{% if page.date %}
<h3 class="subtitle is-small">Date: {{ page.date }}</h3>
{% endif %}
{% if page.taxonomies.categories %}
<p class="is-small">Categories:
{% for category in page.taxonomies.categories %}
<a href="/categories/{{ category }}"><span class="tag is-black">{{ category }}</span></a>
{% endfor %}
</p>
{% endif %}
{% if page.taxonomies.tags %}
<p class="">Tags: 
{% for tag in page.taxonomies.tags %}
<a href="/tags/{{ tag }}"><span class="tag is-black">{{ tag }}</span></a>
{% endfor %}</p>
{% endif %}
{% if page.extra.has_hr %}
<hr>
{% endif %}
{{ page.content | safe }}
</article>
{% if page.extra.has_donate_button %}
<hr>
<div class="box content">
<h3 class="kofi">thanks for reading!</h3>
<p>If you read until the end, <em>thank you!</em> If you like what I write, please consider supporting me through ko-fi. Have a good day, <em>stranger!</em></p>
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#000000', 'D1D11H8FF');kofiwidget2.draw();</script>
</div>
{% endif %}
{% if page.extra.has_comments %}
<hr>
<script src="https://utteranc.es/client.js"
        repo="harudagondi/ramblings-of-harudagondi-utterances"
        issue-term="url"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
{% endif %}

{% endblock content %}