{% extends "index.html" %}

{% block content %}
<article class="content card">
<h1 class="title">{{ section.title }}</h1>
{% if section.description %}
<p>{{ section.description }}</p>
{% endif %}
<ul class="pages">
{% for page in section.pages %}
<li class="box">
    <h3 class="title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
    <h5 class="subtitle">{{ page.reading_time }} {% if page.reading_time == 1 %} minute{% else %} minutes{% endif %}, {{ page.word_count }} words</h5>
    <p>{{ page.content | striptags | truncate(length=200) | safe }}</p>
</li>
{% endfor %}
</ul>
</article>
{% endblock content %}